 {%load static %} 
<html>
<head>
<link rel="stylesheet" href="{% static 'kiosk.css' %}"> 
</head>
<body>

<h2>View your cart</h2>
{% for product in product %}

<table class="table" width='120px'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src= "{{product.product_image.url}}"width='300px' height='250px'>{{ product.title }}</td>
      <td> 32</td>
      <td> {{product.kiosk.currency}} {{product.selling_price}}</td>
    </tr>
  </tbody>
</table>
 {% csrf_token %}
    {% load crispy_forms_tags %} 
    {{form.as_p}}
    {% endfor %} 
    </body>
    </html>