  {%load static %} 
 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'kiosk.css' %}">
    <title>Product Details</title>

  </head>
  <h2>Products Details</h2>
  <body>
{% comment %} <div class="container">
    {%for products in product %}
  <img src={{products.product_image.url}}>
  <h1> {{products.title}}</h1>{{products.price}}{{products.description}}<br>
  {% endfor %} {% endcomment %}
   {%for products in product %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{products.product_image.url}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><h3> {{products.title}}</h3>{{products.price}}{{products.description}}</p>
   {% csrf_token %}
    {% load crispy_forms_tags %} 
    {{form.as_p}}
  </div>
</div>
{% endfor %}
  </body>
 
  </html>